<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Import product from ICECAT open catelog</h2>
        <h3 class="oe_slogan">You can import any product from ICECAT open catelog, no need to manually product.</h3>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Now no need to create product manually!</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
With this module you can see your icecat product in to odoo, You have to just configure icecat in odoo.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="screen2.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Import icecat product in to odoo.</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="screen3.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Now it is very easy to import icecat product in to odoo. You just need to enter product code, and brand name, and then import perticular product in to odoo.            </p>
        </div>
    </div> 
</section>


<section class="oe_container oe_dark">
    <div class="oe_row">
        <h3 class="oe_slogan">Icecat product into Odoo. </h3>
        <div class="oe_span6">
            <p class='oe_mt32'>You will have all details related to product in odoo.</p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="screen4.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h3 class="oe_slogan">Display Images related to product.</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="screen4.png">
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="screen5.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container"><h2 class="oe_slogan">Help and Support.</h2>
<div class="oe_slogan">
            <span class="fa fa-globe" style="color:#7c7bad;"></span><span><a style="color:#7c7bad;" target="_blank" href="http://www.scodetech.com">&nbsp;Website&nbsp;</a></span>
            <span class="fa fa-envelope fa-1x" style="color:#7c7bad;"></span><span>&nbsp;info@scodetech.com&nbsp;</span>

            <span class="fa fa-skype" style="color:#7c7bad;"></span>&nbsp;info@scodetech.com&nbsp;<span></span>
            
</div>
</section>
